@import url('http://fonts.cdnfonts.com/css/cascadia-code');
@import url('http://fonts.cdnfonts.com/css/microsoft-yahei');

:root {
    --argument-description: rgb(87, 166, 74);
    --argument-type: rgb(78, 201, 176);
    --background: rgb(30, 30, 30);
    /* 背景图像 */
    --background-image: url('https://static.wikia.nocookie.net/kancolle/images/6/69/Shimakaze_Full.png');
    --command-arguments: rgb(156, 220, 254);
    --command-attribute: rgb(78, 201, 176);
    --command-description: rgb(87, 166, 74);
    --command-name: rgb(220, 220, 170);
    --enum-description: rgb(87, 166, 74);
    --enum-item: rgb(220, 220, 220);
}

body {
    background-color: var(--background);
    font-family: 'Microsoft YaHei';
}

h1 {
    color: white;
}

p {
    margin: 0;
    margin-bottom: 4px;
}

code {
    display: inline-block;
    background-color: #cccccc30;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Cascadia Code';
    margin-right: 4px;
}

.obsoleted {
    opacity: 0.5
}

ul {
    margin: 0;
}

li {
    list-style: none;
    margin-bottom: 4px;
}

.all {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
    height: 100vh;
}

.background {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 90vw;
    height: 95vh;
}

.cmd.box {
    content: '';
    position: absolute;
    width: 90vw;
    height: 90vh;
    columns: 3;
}

.cmd.block {
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    /* 防止多列布局，分页媒体和多区域上下文中的意外中断 */
    break-inside: avoid;
    background: rgba(0,0,0,0.5); /*0.5*/
    padding: 16px;
}


.cmd.attribute {
    color: var(--command-attribute);
}

.cmd.format {
    color: var(--command-arguments);
}

    .cmd.format > code {
        color: var(--command-name);
    }

.cmd.comment {
    color: var(--command-description);
}

.cmd.arguments > li {
    color: var(--argument-description);
}

code.type {
    color: var(--argument-type);
}

.cmd.arguments > li > span.name {
    color: var(--command-arguments);
}

.cmd.arguments > ul > li {
    color: var(--enum-description);
}

    .cmd.arguments > ul > li > code {
        color: var(--enum-item);
    }

.cmd.arguments > ul > code {
    color: var(--enum-item);
}
